In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("c:/Users/frans/Documents/projetos/analise-scr-data/data/planilha_201901.csv",delimiter = ";")

In [3]:
#Saber quantas linhas e colunas a tabela possui
df.shape

(623580, 23)

In [4]:
#checar os tipos de dados das colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623580 entries, 0 to 623579
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   data_base                       623580 non-null  object
 1   uf                              623580 non-null  object
 2   tcb                             623580 non-null  object
 3   sr                              622078 non-null  object
 4   cliente                         623580 non-null  object
 5   ocupacao                        623580 non-null  object
 6   cnae_secao                      623580 non-null  object
 7   cnae_subclasse                  623580 non-null  object
 8   porte                           623580 non-null  object
 9   modalidade                      623580 non-null  object
 10  origem                          623580 non-null  object
 11  indexador                       623580 non-null  object
 12  numero_de_operacoes             623580 non-null  object
 13  a_vencer_ate_90_dias            623580 non-null  object
 14  a_vencer_de_91_ate_360_dias     623580 non-null  object
 15  a_vencer_de_361_ate_1080_dias   623580 non-null  object
 16  a_vencer_de_1081_ate_1800_dias  623580 non-null  object
 17  a_vencer_de_1801_ate_5400_dias  623580 non-null  object
 18  a_vencer_acima_de_5400_dias     623580 non-null  object
 19  vencido_acima_de_15_dias        623580 non-null  object
 20  carteira_ativa                  623580 non-null  object
 21  carteira_inadimplida_arrastada  623580 non-null  object
 22  ativo_problematico              623580 non-null  object
dtypes: object(23)
memory usage: 109.4+ MB

In [5]:
#Ver os primeiros valores da tabela
df.head(3)

,data_base,uf,tcb,sr,cliente,ocupacao,cnae_secao,cnae_subclasse,porte,modalidade,...,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
0,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,"3721637,92","760416,19","72595,19","24140,51","3415,71","0,00","114464,33","4696669,85","76633,38","211160,12"
1,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,"0,00","0,00","0,00","0,00","0,00","0,00","1172,29","1172,29","1172,29","1172,29"
2,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Empréstimo com consignação em folha,...,"1739818,48","4313277,42","8919594,09","5751097,19","3852994,93","0,00","17646,26","24594428,37","8870,03","9823,17"

In [6]:
#Checar como os valores das que deveriam ser numéricas nas colunas estão sendo apresentados

df [['a_vencer_ate_90_dias','a_vencer_de_91_ate_360_dias','a_vencer_de_361_ate_1080_dias',
'a_vencer_de_1081_ate_1800_dias','a_vencer_de_1801_ate_5400_dias','a_vencer_acima_de_5400_dias',
'vencido_acima_de_15_dias','carteira_ativa','carteira_inadimplida_arrastada','ativo_problematico']].head()

,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
0,"3721637,92","760416,19","72595,19","24140,51","3415,71","0,00","114464,33","4696669,85","76633,38","211160,12"
1,"0,00","0,00","0,00","0,00","0,00","0,00","1172,29","1172,29","1172,29","1172,29"
2,"1739818,48","4313277,42","8919594,09","5751097,19","3852994,93","0,00","17646,26","24594428,37","8870,03","9823,17"
3,"0,00","0,00","0,00","0,00","0,00","0,00","140105,71","140105,71","140105,71","140105,71"
4,"345220,71","937983,72","1236893,01","514979,75","271538,20","0,00","10996,46","3317611,85","0,00","111182,26"

In [7]:
#checar como o valor do campo de data está sendo apresentado
df['data_base'].head() #ano-mes-dia

0    2019-01-31
1    2019-01-31
2    2019-01-31
3    2019-01-31
4    2019-01-31
Name: data_base, dtype: object

In [8]:
#checar se alguma coluna possui algum valor nulo
df.isnull().sum()

data_base                            0
uf                                   0
tcb                                  0
sr                                1502
cliente                              0
ocupacao                             0
cnae_secao                           0
cnae_subclasse                       0
porte                                0
modalidade                           0
origem                               0
indexador                            0
numero_de_operacoes                  0
a_vencer_ate_90_dias                 0
a_vencer_de_91_ate_360_dias          0
a_vencer_de_361_ate_1080_dias        0
a_vencer_de_1081_ate_1800_dias       0
a_vencer_de_1801_ate_5400_dias       0
a_vencer_acima_de_5400_dias          0
vencido_acima_de_15_dias             0
carteira_ativa                       0
carteira_inadimplida_arrastada       0
ativo_problematico                   0
dtype: int64

In [9]:
#checar se tem alguma coluna com na
df.isna().sum()

data_base                            0
uf                                   0
tcb                                  0
sr                                1502
cliente                              0
ocupacao                             0
cnae_secao                           0
cnae_subclasse                       0
porte                                0
modalidade                           0
origem                               0
indexador                            0
numero_de_operacoes                  0
a_vencer_ate_90_dias                 0
a_vencer_de_91_ate_360_dias          0
a_vencer_de_361_ate_1080_dias        0
a_vencer_de_1081_ate_1800_dias       0
a_vencer_de_1801_ate_5400_dias       0
a_vencer_acima_de_5400_dias          0
vencido_acima_de_15_dias             0
carteira_ativa                       0
carteira_inadimplida_arrastada       0
ativo_problematico                   0
dtype: int64

In [10]:
# Limpeza - Manter os dados apenas de modalidade de cartão de crédito
df_credito = df[df['modalidade'] == 'PF - Cartão de crédito']

In [11]:
df_credito

,data_base,uf,tcb,sr,cliente,ocupacao,cnae_secao,cnae_subclasse,porte,modalidade,...,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
0,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,"3721637,92","760416,19","72595,19","24140,51","3415,71","0,00","114464,33","4696669,85","76633,38","211160,12"
1,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,"0,00","0,00","0,00","0,00","0,00","0,00","1172,29","1172,29","1172,29","1172,29"
12,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Até 1 salário mínimo,PF - Cartão de crédito,...,"367896,40","101758,20","3546,23","0,00","0,00","0,00","43619,99","516820,82","27160,93","34533,03"
13,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Até 1 salário mínimo,PF - Cartão de crédito,...,"0,00","0,00","0,00","0,00","0,00","0,00","633,64","633,64","633,64","633,64"
23,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Indisponível,PF - Cartão de crédito,...,"306506,28","90295,75","2837,23","0,00","0,00","0,00","38691,05","438330,31","21891,32","49630,99"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623414,2019-01-31,TO,Não bancário,S4,PF,PF - Servidor ou empregado público,-,-,PF - Mais de 2 a 3 salários mínimos,PF - Cartão de crédito,...,"1397576,19","490047,71","2700,68","0,00","0,00","0,00","144983,35","2035307,93","92102,52","134230,59"
623419,2019-01-31,TO,Não bancário,S4,PF,PF - Servidor ou empregado público,-,-,PF - Mais de 3 a 5 salários mínimos,PF - Cartão de crédito,...,"2583952,67","757637,86","12448,16","0,00","0,00","0,00","188592,62","3542631,31","141933,97","204697,19"
623423,2019-01-31,TO,Não bancário,S4,PF,PF - Servidor ou empregado público,-,-,PF - Mais de 5 a 10 salários mínimos,PF - Cartão de crédito,...,"1145907,35","352637,21","23379,08","1403,43","0,00","0,00","122612,70","1645939,77","110061,99","132470,35"
623427,2019-01-31,TO,Não bancário,S4,PF,PF - Servidor ou empregado público,-,-,PF - Sem rendimento,PF - Cartão de crédito,...,"7916,82","917,86","1365,15","0,00","0,00","0,00","5112,74","15312,57","1881,06","2949,43"
623559,2019-01-31,TO,Não bancário,S5,PF,PF - Outros,-,-,PF - Mais de 1 a 2 salários mínimos,PF - Cartão de crédito,...,"240,00","125,54","0,00","0,00","0,00","0,00","0,00","365,54","0,00","0,00"

In [12]:
df_credito.isnull().sum()

data_base                         0
uf                                0
tcb                               0
sr                                0
cliente                           0
ocupacao                          0
cnae_secao                        0
cnae_subclasse                    0
porte                             0
modalidade                        0
origem                            0
indexador                         0
numero_de_operacoes               0
a_vencer_ate_90_dias              0
a_vencer_de_91_ate_360_dias       0
a_vencer_de_361_ate_1080_dias     0
a_vencer_de_1081_ate_1800_dias    0
a_vencer_de_1801_ate_5400_dias    0
a_vencer_acima_de_5400_dias       0
vencido_acima_de_15_dias          0
carteira_ativa                    0
carteira_inadimplida_arrastada    0
ativo_problematico                0
dtype: int64

In [14]:
# Trocar o sinal de , para ponto e converter o tipo de dado dos campos numéricos

colunas_numericas = ['a_vencer_ate_90_dias','a_vencer_de_91_ate_360_dias','a_vencer_de_361_ate_1080_dias',
'a_vencer_de_1081_ate_1800_dias','a_vencer_de_1801_ate_5400_dias','a_vencer_acima_de_5400_dias',
'vencido_acima_de_15_dias','carteira_ativa','carteira_inadimplida_arrastada','ativo_problematico']

In [ ]:
df_credito.loc[:,(colunas_numericas)] = df_credito.loc[:,(colunas_numericas)].replace(",",".", regex=True)

In [13]:
df_copy = df.copy()

In [19]:
df_copy[colunas_numericas].apply(lambda x: x.replace(",",".",regex = True).astype(float))

,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
0,3721637.92,760416.19,72595.19,24140.51,3415.71,0.0,114464.33,4696669.85,76633.38,211160.12
1,0.00,0.00,0.00,0.00,0.00,0.0,1172.29,1172.29,1172.29,1172.29
2,1739818.48,4313277.42,8919594.09,5751097.19,3852994.93,0.0,17646.26,24594428.37,8870.03,9823.17
3,0.00,0.00,0.00,0.00,0.00,0.0,140105.71,140105.71,140105.71,140105.71
4,345220.71,937983.72,1236893.01,514979.75,271538.20,0.0,10996.46,3317611.85,0.00,111182.26
...,...,...,...,...,...,...,...,...,...,...
623575,969.41,1466.24,0.00,0.00,0.00,0.0,0.00,2435.65,0.00,0.00
623576,1673.21,2553.97,0.00,0.00,0.00,0.0,2285.75,6512.93,2982.82,5476.19
623577,3316.07,4558.45,0.00,0.00,0.00,0.0,932.46,8806.98,730.09,730.09
623578,1791.03,2078.03,0.00,0.00,0.00,0.0,0.00,3869.06,0.00,0.00
623579,72932.67,2869.24,0.00,0.00,0.00,0.0,0.00,75801.91,0.00,0.00

In [22]:
df_credito.loc[:,colunas_numericas] = df_copy[colunas_numericas].apply(lambda x: x.replace(",",".",regex = True).astype(float))

In [24]:
df_credito.head(2)

,data_base,uf,tcb,sr,cliente,ocupacao,cnae_secao,cnae_subclasse,porte,modalidade,...,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
0,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,3721637.92,760416.19,72595.19,24140.51,3415.71,0.0,114464.33,4696669.85,76633.38,211160.12
1,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,0.00,0.00,0.00,0.00,0.00,0.0,1172.29,1172.29,1172.29,1172.29

In [25]:
df_credito.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13612 entries, 0 to 623559
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   data_base                       13612 non-null  object
 1   uf                              13612 non-null  object
 2   tcb                             13612 non-null  object
 3   sr                              13612 non-null  object
 4   cliente                         13612 non-null  object
 5   ocupacao                        13612 non-null  object
 6   cnae_secao                      13612 non-null  object
 7   cnae_subclasse                  13612 non-null  object
 8   porte                           13612 non-null  object
 9   modalidade                      13612 non-null  object
 10  origem                          13612 non-null  object
 11  indexador                       13612 non-null  object
 12  numero_de_operacoes             13612 non-null  object
 13  a_vencer_ate_90_dias            13612 non-null  float64
 14  a_vencer_de_91_ate_360_dias     13612 non-null  float64
 15  a_vencer_de_361_ate_1080_dias   13612 non-null  float64
 16  a_vencer_de_1081_ate_1800_dias  13612 non-null  float64
 17  a_vencer_de_1801_ate_5400_dias  13612 non-null  float64
 18  a_vencer_acima_de_5400_dias     13612 non-null  float64
 19  vencido_acima_de_15_dias        13612 non-null  float64
 20  carteira_ativa                  13612 non-null  float64
 21  carteira_inadimplida_arrastada  13612 non-null  float64
 22  ativo_problematico              13612 non-null  float64
dtypes: float64(10), object(13)
memory usage: 2.5+ MB

In [28]:
df_credito.loc[:,'data_base'] = pd.to_datetime(df_credito['data_base'])

In [29]:
df_credito.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13612 entries, 0 to 623559
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   data_base                       13612 non-null  object
 1   uf                              13612 non-null  object
 2   tcb                             13612 non-null  object
 3   sr                              13612 non-null  object
 4   cliente                         13612 non-null  object
 5   ocupacao                        13612 non-null  object
 6   cnae_secao                      13612 non-null  object
 7   cnae_subclasse                  13612 non-null  object
 8   porte                           13612 non-null  object
 9   modalidade                      13612 non-null  object
 10  origem                          13612 non-null  object
 11  indexador                       13612 non-null  object
 12  numero_de_operacoes             13612 non-null  object
 13  a_vencer_ate_90_dias            13612 non-null  float64
 14  a_vencer_de_91_ate_360_dias     13612 non-null  float64
 15  a_vencer_de_361_ate_1080_dias   13612 non-null  float64
 16  a_vencer_de_1081_ate_1800_dias  13612 non-null  float64
 17  a_vencer_de_1801_ate_5400_dias  13612 non-null  float64
 18  a_vencer_acima_de_5400_dias     13612 non-null  float64
 19  vencido_acima_de_15_dias        13612 non-null  float64
 20  carteira_ativa                  13612 non-null  float64
 21  carteira_inadimplida_arrastada  13612 non-null  float64
 22  ativo_problematico              13612 non-null  float64
dtypes: float64(10), object(13)
memory usage: 2.5+ MB

In [79]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [82]:
df_credito[colunas_numericas].describe()

,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
count,13612.000,13612.000,13612.000,13612.000,13612.000,13612.000,13612.000,13612.000,13612.000,13612.000
mean,11677214.229,3877257.376,230448.141,13544.934,4919.448,0.104,1283489.381,17086873.613,951917.087,1321445.589
std,79411654.646,26156870.184,1530580.660,107761.611,41952.318,10.426,8674497.103,113794390.271,6508830.149,8832544.296
min,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.500,0.000,0.000
25%,7543.602,3035.812,0.000,0.000,0.000,0.000,3343.778,28227.298,1477.172,2574.085
50%,141553.985,43595.010,761.765,0.000,0.000,0.000,51347.070,337450.015,34905.385,47518.295
75%,1907601.515,594458.228,30564.597,247.750,0.000,0.000,402839.975,3218503.850,282430.705,376620.708
max,3733324495.620,1043201375.560,69889106.520,4442599.090,1609437.110,1195.690,563509073.140,4939888492.390,420276653.110,547455768.540

In [97]:
colunas_nao_numericas = ['uf','tcb','sr','cliente','ocupacao','cnae_secao',
'cnae_subclasse','porte','modalidade','origem','indexador','numero_de_operacoes']

In [98]:
df_credito[colunas_nao_numericas].describe()

,uf,tcb,sr,cliente,ocupacao,cnae_secao,cnae_subclasse,porte,modalidade,origem,indexador,numero_de_operacoes
count,13612,13612,13612,13612,13612,13612,13612,13612,13612,13612,13612,13612
unique,27,3,5,1,8,1,1,9,1,2,4,5047
top,RS,Bancário,S4,PF,PF - Outros,-,-,PF - Mais de 1 a 2 salários mínimos,PF - Cartão de crédito,Sem destinação específica,Prefixado,<= 15
freq,662,9105,4767,13612,2005,13612,13612,1758,13612,13610,11727,3112

Criando a lógia da extração e transformação

Enquando houver arquivo na pasta faça:
    Leia o arquivo em um df
    substitua as vírgulas por pontos
    altere o tipo de dados dos campos para float
    altere o tipo de dado do campo date para datetime
    concatene o arquivo com o anterior 

Ao final tranforme ele em um único arquivo csv