In [571]:
import pandas as pd
import os

In [572]:
df = pd.read_csv("c:/Users/frans/Documents/projetos/analise-scr-data/data/planilha_201901.csv",delimiter = ";")

In [573]:
#Saber quantas linhas e colunas a tabela possui
df.shape

(623580, 23)

In [574]:
#checar os tipos de dados das colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623580 entries, 0 to 623579
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   data_base                       623580 non-null  object
 1   uf                              623580 non-null  object
 2   tcb                             623580 non-null  object
 3   sr                              622078 non-null  object
 4   cliente                         623580 non-null  object
 5   ocupacao                        623580 non-null  object
 6   cnae_secao                      623580 non-null  object
 7   cnae_subclasse                  623580 non-null  object
 8   porte                           623580 non-null  object
 9   modalidade                      623580 non-null  object
 10  origem                          623580 non-null  object
 11  indexador                       623580 non-null  object
 12  numero_de_operacoes             623580 non-null  object
 13  a_vencer_ate_90_dias            623580 non-null  object
 14  a_vencer_de_91_ate_360_dias     623580 non-null  object
 15  a_vencer_de_361_ate_1080_dias   623580 non-null  object
 16  a_vencer_de_1081_ate_1800_dias  623580 non-null  object
 17  a_vencer_de_1801_ate_5400_dias  623580 non-null  object
 18  a_vencer_acima_de_5400_dias     623580 non-null  object
 19  vencido_acima_de_15_dias        623580 non-null  object
 20  carteira_ativa                  623580 non-null  object
 21  carteira_inadimplida_arrastada  623580 non-null  object
 22  ativo_problematico              623580 non-null  object
dtypes: object(23)
memory usage: 109.4+ MB

In [575]:
#Ver os primeiros valores da tabela
df.head(3)

,data_base,uf,tcb,sr,cliente,ocupacao,cnae_secao,cnae_subclasse,porte,modalidade,...,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
0,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,"3721637,92","760416,19","72595,19","24140,51","3415,71","0,00","114464,33","4696669,85","76633,38","211160,12"
1,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,"0,00","0,00","0,00","0,00","0,00","0,00","1172,29","1172,29","1172,29","1172,29"
2,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Empréstimo com consignação em folha,...,"1739818,48","4313277,42","8919594,09","5751097,19","3852994,93","0,00","17646,26","24594428,37","8870,03","9823,17"

In [576]:
#Checar como os valores das que deveriam ser numéricas nas colunas estão sendo apresentados

df [['a_vencer_ate_90_dias','a_vencer_de_91_ate_360_dias','a_vencer_de_361_ate_1080_dias',
'a_vencer_de_1081_ate_1800_dias','a_vencer_de_1801_ate_5400_dias','a_vencer_acima_de_5400_dias',
'vencido_acima_de_15_dias','carteira_ativa','carteira_inadimplida_arrastada','ativo_problematico']].head()

,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
0,"3721637,92","760416,19","72595,19","24140,51","3415,71","0,00","114464,33","4696669,85","76633,38","211160,12"
1,"0,00","0,00","0,00","0,00","0,00","0,00","1172,29","1172,29","1172,29","1172,29"
2,"1739818,48","4313277,42","8919594,09","5751097,19","3852994,93","0,00","17646,26","24594428,37","8870,03","9823,17"
3,"0,00","0,00","0,00","0,00","0,00","0,00","140105,71","140105,71","140105,71","140105,71"
4,"345220,71","937983,72","1236893,01","514979,75","271538,20","0,00","10996,46","3317611,85","0,00","111182,26"

In [577]:
#checar como o valor do campo de data está sendo apresentado
df['data_base'].head() #ano-mes-dia

0    2019-01-31
1    2019-01-31
2    2019-01-31
3    2019-01-31
4    2019-01-31
Name: data_base, dtype: object

In [578]:
#checar se alguma coluna possui algum valor nulo
df.isnull().sum()

data_base                            0
uf                                   0
tcb                                  0
sr                                1502
cliente                              0
ocupacao                             0
cnae_secao                           0
cnae_subclasse                       0
porte                                0
modalidade                           0
origem                               0
indexador                            0
numero_de_operacoes                  0
a_vencer_ate_90_dias                 0
a_vencer_de_91_ate_360_dias          0
a_vencer_de_361_ate_1080_dias        0
a_vencer_de_1081_ate_1800_dias       0
a_vencer_de_1801_ate_5400_dias       0
a_vencer_acima_de_5400_dias          0
vencido_acima_de_15_dias             0
carteira_ativa                       0
carteira_inadimplida_arrastada       0
ativo_problematico                   0
dtype: int64

In [579]:
#checar se tem alguma coluna com na
df.isna().sum()

data_base                            0
uf                                   0
tcb                                  0
sr                                1502
cliente                              0
ocupacao                             0
cnae_secao                           0
cnae_subclasse                       0
porte                                0
modalidade                           0
origem                               0
indexador                            0
numero_de_operacoes                  0
a_vencer_ate_90_dias                 0
a_vencer_de_91_ate_360_dias          0
a_vencer_de_361_ate_1080_dias        0
a_vencer_de_1081_ate_1800_dias       0
a_vencer_de_1801_ate_5400_dias       0
a_vencer_acima_de_5400_dias          0
vencido_acima_de_15_dias             0
carteira_ativa                       0
carteira_inadimplida_arrastada       0
ativo_problematico                   0
dtype: int64

In [580]:
# Limpeza - Manter os dados apenas de modalidade de cartão de crédito
#df_credito = df[df['modalidade'] == 'PF - Cartão de crédito']

In [581]:
df_credito = df[df['modalidade'] == 'PF - Cartão de crédito'].copy()

In [582]:
df_credito.head(3)

,data_base,uf,tcb,sr,cliente,ocupacao,cnae_secao,cnae_subclasse,porte,modalidade,...,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
0,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,"3721637,92","760416,19","72595,19","24140,51","3415,71","0,00","114464,33","4696669,85","76633,38","211160,12"
1,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,"0,00","0,00","0,00","0,00","0,00","0,00","1172,29","1172,29","1172,29","1172,29"
12,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Até 1 salário mínimo,PF - Cartão de crédito,...,"367896,40","101758,20","3546,23","0,00","0,00","0,00","43619,99","516820,82","27160,93","34533,03"

In [583]:
df_credito.isnull().sum()

data_base                         0
uf                                0
tcb                               0
sr                                0
cliente                           0
ocupacao                          0
cnae_secao                        0
cnae_subclasse                    0
porte                             0
modalidade                        0
origem                            0
indexador                         0
numero_de_operacoes               0
a_vencer_ate_90_dias              0
a_vencer_de_91_ate_360_dias       0
a_vencer_de_361_ate_1080_dias     0
a_vencer_de_1081_ate_1800_dias    0
a_vencer_de_1801_ate_5400_dias    0
a_vencer_acima_de_5400_dias       0
vencido_acima_de_15_dias          0
carteira_ativa                    0
carteira_inadimplida_arrastada    0
ativo_problematico                0
dtype: int64

In [584]:
# Criando uma lista apenas com os nomes dos campos das colunas númericas

colunas_numericas = ['a_vencer_ate_90_dias','a_vencer_de_91_ate_360_dias','a_vencer_de_361_ate_1080_dias',
'a_vencer_de_1081_ate_1800_dias','a_vencer_de_1801_ate_5400_dias','a_vencer_acima_de_5400_dias',
'vencido_acima_de_15_dias','carteira_ativa','carteira_inadimplida_arrastada','ativo_problematico']

In [585]:
df_credito[colunas_numericas] = df_credito[colunas_numericas].apply(lambda x: x.str.replace(",", ".", regex=False).astype(float))

In [586]:
df_credito.head(2)

,data_base,uf,tcb,sr,cliente,ocupacao,cnae_secao,cnae_subclasse,porte,modalidade,...,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
0,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,3721637.92,760416.19,72595.19,24140.51,3415.71,0.00,114464.33,4696669.85,76633.38,211160.12
1,2019-01-31,AC,Bancário,S1,PF,PF - Aposentado/pensionista,-,-,PF - Acima de 20 salários mínimos,PF - Cartão de crédito,...,0.00,0.00,0.00,0.00,0.00,0.00,1172.29,1172.29,1172.29,1172.29

In [587]:
df_credito.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13612 entries, 0 to 623559
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   data_base                       13612 non-null  object
 1   uf                              13612 non-null  object
 2   tcb                             13612 non-null  object
 3   sr                              13612 non-null  object
 4   cliente                         13612 non-null  object
 5   ocupacao                        13612 non-null  object
 6   cnae_secao                      13612 non-null  object
 7   cnae_subclasse                  13612 non-null  object
 8   porte                           13612 non-null  object
 9   modalidade                      13612 non-null  object
 10  origem                          13612 non-null  object
 11  indexador                       13612 non-null  object
 12  numero_de_operacoes             13612 non-null  object
 13  a_vencer_ate_90_dias            13612 non-null  float64
 14  a_vencer_de_91_ate_360_dias     13612 non-null  float64
 15  a_vencer_de_361_ate_1080_dias   13612 non-null  float64
 16  a_vencer_de_1081_ate_1800_dias  13612 non-null  float64
 17  a_vencer_de_1801_ate_5400_dias  13612 non-null  float64
 18  a_vencer_acima_de_5400_dias     13612 non-null  float64
 19  vencido_acima_de_15_dias        13612 non-null  float64
 20  carteira_ativa                  13612 non-null  float64
 21  carteira_inadimplida_arrastada  13612 non-null  float64
 22  ativo_problematico              13612 non-null  float64
dtypes: float64(10), object(13)
memory usage: 2.5+ MB

In [588]:
df_credito['data_base'] = pd.to_datetime(df_credito['data_base'])

In [589]:

df_credito.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13612 entries, 0 to 623559
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   data_base                       13612 non-null  datetime64[ns]
 1   uf                              13612 non-null  object
 2   tcb                             13612 non-null  object
 3   sr                              13612 non-null  object
 4   cliente                         13612 non-null  object
 5   ocupacao                        13612 non-null  object
 6   cnae_secao                      13612 non-null  object
 7   cnae_subclasse                  13612 non-null  object
 8   porte                           13612 non-null  object
 9   modalidade                      13612 non-null  object
 10  origem                          13612 non-null  object
 11  indexador                       13612 non-null  object
 12  numero_de_operacoes             13612 non-null  object
 13  a_vencer_ate_90_dias            13612 non-null  float64
 14  a_vencer_de_91_ate_360_dias     13612 non-null  float64
 15  a_vencer_de_361_ate_1080_dias   13612 non-null  float64
 16  a_vencer_de_1081_ate_1800_dias  13612 non-null  float64
 17  a_vencer_de_1801_ate_5400_dias  13612 non-null  float64
 18  a_vencer_acima_de_5400_dias     13612 non-null  float64
 19  vencido_acima_de_15_dias        13612 non-null  float64
 20  carteira_ativa                  13612 non-null  float64
 21  carteira_inadimplida_arrastada  13612 non-null  float64
 22  ativo_problematico              13612 non-null  float64
dtypes: datetime64[ns](1), float64(10), object(12)
memory usage: 2.5+ MB

In [563]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [564]:
df_credito[colunas_numericas].describe()

,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
count,13612.00,13612.00,13612.00,13612.00,13612.00,13612.00,13612.00,13612.00,13612.00,13612.00
unique,12891.00,12344.00,8249.00,3940.00,1954.00,3.00,11838.00,13607.00,10971.00,11382.00
top,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1435.04,0.00,0.00
freq,713.00,1239.00,5302.00,9656.00,11658.00,13610.00,1767.00,2.00,2638.00,2221.00

In [565]:
colunas_nao_numericas = ['uf','tcb','sr','cliente','ocupacao','cnae_secao',
'cnae_subclasse','porte','modalidade','origem','indexador','numero_de_operacoes']

In [566]:
df_credito[colunas_nao_numericas].describe()

,uf,tcb,sr,cliente,ocupacao,cnae_secao,cnae_subclasse,porte,modalidade,origem,indexador,numero_de_operacoes
count,13612,13612,13612,13612,13612,13612,13612,13612,13612,13612,13612,13612
unique,27,3,5,1,8,1,1,9,1,2,4,5047
top,RS,Bancário,S4,PF,PF - Outros,-,-,PF - Mais de 1 a 2 salários mínimos,PF - Cartão de crédito,Sem destinação específica,Prefixado,<= 15
freq,662,9105,4767,13612,2005,13612,13612,1758,13612,13610,11727,3112

Criando a lógia da extração e transformação

Enquando houver arquivo na pasta faça:
    Leia o arquivo em um df
    substitua as vírgulas por pontos
    altere o tipo de dados dos campos para float
    altere o tipo de dado do campo date para datetime
    concatene o arquivo com o anterior 

Ao final tranforme ele em um único arquivo csv